
.widget-home-main_content
{
	text-align: center;
}

.widget-home-main_content ul
{
	background: yellow;
	box-shadow: 0px 0px 5px black;
}

.widget-home-main_content li
{
	display: table;
	width: 100%;
}

.widget-home-main_content li:not(:first-child)
{
	margin-top: 0.5rem;
}

.widget-home-main_content li:hover
{
	background: #fff;
	outline: 1px solid black;
}

.widget-home-main_content li a
{
	padding: 1rem;
	display: table-cell;
	vertical-align: middle;
	box-sizing: border-box;
}

.widget-home-main_content .name
{
	color: #000;
}

.widget-home-main_content .name:hover
{
	text-decoration: underline;
}

.widget-home-main_content .show
{
	background: #3e3;
}

.widget-home-main_content .show:hover
{
	background: radial-gradient(#7f7 10%,  #3e3);
}

.widget-home-main_content .delete
{
	background: #e33;
}

.widget-home-main_content .delete:hover
{
	background: radial-gradient(#f77 10%,  #e33);
}
.widget-home-main_content .show,
.widget-home-main_content .delete
{
	width: 3rem;
	border: 4px outset rgba(0,0,0,0.2);
}