
@font-face
{
	font-family: "Ubuntu";
	src: local("Ubuntu"), url("../font/ubuntu-all-400.woff2") format("woff2")
}

html
{
	font-size: 16px;
	background: #333;
	height: 100%;
	color: #fff;
	font-family: "Ubuntu", Ubuntu, sans-serif;
}

body
{
	margin: 0;
	height: 100%;
}

ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

h1
{
	text-align: center;
	font-size: 1rem;
	margin: 0;
	text-shadow: 1px 1px 1px #000;
}

a
{
	text-decoration: none;
	color: #fff;
}

form
{
	text-align: center;
	color: #000;
}

form label
{
	display: block;
	margin-bottom: 1rem;
}

/* --- */

.widget-layout
{
	max-width: 500px;
	margin: auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	box-shadow: 0px 0px 30px #111;
}

/* --- */

.widget-layout header
{
	background: #a00;
	padding: 1rem;
}

/* --- */

.widget-layout > nav
{
	background: linear-gradient(#444, #555 10%, #555 90%, #444);
}

.widget-layout > nav ul
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "back edit add";
}

.widget-layout > nav .back
{
	grid-area: back;
	background: #e33;
}

.widget-layout > nav .back:hover
{
	background: radial-gradient(#f77 10%,  #e33);
}

.widget-layout > nav .edit
{
	grid-area: edit;
	background: #33e;
}

.widget-layout > nav .edit:hover
{
	background: radial-gradient(#77f 10%,  #33e);
}

.widget-layout > nav .add
{
	grid-area: add;
	background: #3e3;
}

.widget-layout > nav .add:hover
{
	background: #9f9;
	background: radial-gradient(#7f7 10%,  #3e3);
}

.widget-layout > nav li
{
	text-align: center;
	border: 4px outset rgba(0,0,0,0.2);
}

.widget-layout > nav a
{
	padding: 0.5rem;
	display: block;
	font-size: 1.5rem;
}

/* --- */

.widget-layout main
{
	background: #ddd;
	flex-grow: 1;
	padding: 2rem 0;
}

.widget-layout main p
{
	color: #000;
	text-align: center;
	padding: 1rem;
	margin: 0;
}
