
.widget-todo_list-main_content .checked span
{
	text-decoration: line-through;
}

.widget-todo_list-main_content li.checked .name
{
	color: #999;
}

.widget-todo_list-main_content
{
	text-align: center;
}

.widget-todo_list-main_content ul
{
	background: yellow;
	box-shadow: 0px 0px 5px black;
}

.widget-todo_list-main_content li
{
	display: table;
	width: 100%;
	cursor: pointer;
}

.widget-todo_list-main_content li:not(:first-child)
{
	margin-top: 0.5rem;
}

.widget-todo_list-main_content li:hover
{
	background: #fff;
	outline: 1px solid black;
}

.widget-todo_list-main_content li a,
.widget-todo_list-main_content li span
{
	padding: 1rem;
	display: table-cell;
	vertical-align: middle;
	box-sizing: border-box;
}

.widget-todo_list-main_content .name
{
	color: #000;
}

.widget-todo_list-main_content .edit
{
	background: #33e;
}

.widget-todo_list-main_content .edit:hover
{
	background: radial-gradient(#77f 10%,  #33e);
}

.widget-todo_list-main_content .delete
{
	background: #e33;
}

.widget-todo_list-main_content .delete:hover
{
	background: radial-gradient(#f77 10%,  #e33);
}
.widget-todo_list-main_content .edit,
.widget-todo_list-main_content .delete
{
	width: 3rem;
	border: 4px outset rgba(0,0,0,0.2);
}